.whole {
    padding: 20px;
    width: 100%;
}

.allProductsList {
    background: #fff;
    width: 100%;
    min-height: 80vh;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bxSh {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.headingRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #e7e8e9;
    padding: 7px 40px;
    align-items: center; 
}


.headingRow div h4 {
    letter-spacing: 1px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #FF3D00 transparent;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  .loaderS {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }